@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap");
button, section:nth-of-type(2) header button, section:nth-of-type(3) header button {
  font-size: 1.2rem;
  font-weight: 700;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem; }
  @media (min-width: 600px) {
    button, section:nth-of-type(2) header button, section:nth-of-type(3) header button {
      font-size: 1.5rem; } }

body, nav, section, footer, article, h1, h2, h3, p, a, ul, li, dt, dd, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font: 1.4rem/2.5rem "DM Sans", sans-serif;
  background: #fcfaff;
  color: #161f26; }

h1 {
  font-size: 1.8rem;
  font-family: "Heebo", sans-serif;
  font-weight: 800; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3rem; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2rem;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  color: #161f26; }
  @media (min-width: 600px) {
    h2 {
      font-size: 2.4rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2.8rem; } }

h3 {
  font-size: 1.6rem;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  clear: both;
  color: #67559d; }
  @media (min-width: 600px) {
    h3 {
      font-size: 2rem;
      line-height: 3rem; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2.4rem; } }

p {
  font-size: 1.6rem;
  font-family: #161f26;
  font-weight: 500;
  margin: 1.5rem 0;
  color: #575758; }
  @media (min-width: 600px) {
    p {
      font-size: 1.8rem; } }
  @media (min-width: 1200px) {
    p {
      font-size: 2rem; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #121212;
  margin: 0 0 4.5rem;
  padding: 2.5% 7.5%;
  border-bottom: 1px solid #e5eaf0; }
  @media (min-width: 830px) {
    header {
      padding: 1% 5%; } }
  @media (min-width: 1335px) {
    header {
      padding: 1% 7.5%; } }
  header h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    color: #161f26; }
  header a {
    display: block;
    width: 5.5rem;
    height: 5.5rem; }
    @media (min-width: 830px) {
      header a {
        width: 6.5rem;
        height: 6.5rem; } }
    header a img {
      width: 100%;
      border-radius: 50%; }

main {
  display: grid;
  row-gap: 5rem;
  width: 85%;
  margin: 0 auto 10rem; }
  @media (min-width: 830px) {
    main {
      grid-template-columns: 1fr 1fr;
      column-gap: 4rem;
      width: 90%; } }
  @media (min-width: 1335px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5rem;
      width: 85%; } }

button {
  background: #67559d no-repeat 1rem/20% url(../images/add.png);
  color: #fff;
  text-indent: 1rem; }
  button:hover {
    opacity: 0.8;
    cursor: pointer; }

section {
  height: fit-content;
  border-radius: 0.5rem;
  background: #e2e1f0; }
  section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.5rem 0.5rem 0 0; }
    section header h2 {
      font-family: "Heebo", sans-serif;
      font-size: 2rem;
      font-weight: 600; }
      @media (min-width: 600px) {
        section header h2 {
          font-size: 2.4rem; } }
  section:nth-of-type(1) {
    border: 1px solid rgba(103, 85, 157, 0.1); }
    section:nth-of-type(1) h3 {
      color: #67559d; }
  section:nth-of-type(2) {
    border: 1px solid rgba(58, 120, 168, 0.1); }
    section:nth-of-type(2) h3 {
      color: #3a78a8; }
    section:nth-of-type(2) header button {
      background: #3a78a8 no-repeat 1rem/20% url(../images/add.png);
      color: #fff;
      text-indent: 1rem; }
  section:nth-of-type(3) {
    border: 1px solid rgba(85, 152, 123, 0.1); }
    section:nth-of-type(3) h3 {
      color: #55987b; }
    section:nth-of-type(3) header button {
      background: #55987b no-repeat 1rem/20% url(../images/add.png);
      color: #fff;
      text-indent: 1rem; }

article {
  max-width: 100%;
  display: block;
  background: #fff;
  padding: 2rem;
  overflow: auto;
  margin: 2rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0.5rem 0.5rem 0.4rem rgba(18, 18, 18, 0.1)); }
  article .task__date {
    font-size: 1.4rem;
    font-weight: 600;
    color: #161f26;
    background-image: url("../images/cal.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 0 0 3rem;
    display: block; }
  article .task__priority {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.3rem 1rem;
    float: right;
    border-radius: 20rem; }
  article [data-priority="low"] {
    background: #d8f9e5;
    color: #2a5b45; }
  article [data-priority="medium"] {
    background: #fbf2ca;
    color: #80491f; }
  article [data-priority="high"] {
    background: #f7e3e2;
    color: #933831; }
