// Mixins
@mixin bradius ($topLeft,$topRight,$bottomLeft,$bottomRight) {
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
}

@mixin border ($topBorder,$rightBorder,$bottomBorder, $leftBorder) {
    border-top:$topBorder;
    border-right: $rightBorder;
    border-bottom:$bottomBorder;
    border-left: $leftBorder;
}