// font stack
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'DM Sans', sans-serif;

// font-weight
$heavy-weight: 800;
$bold-weight: 700;
$medium-weight: 600;
$regular-weight: 500;

// colors
$primary-background: #F7F8F9;
$primary-white: #fff;
$primary-purple: rgba(103, 85, 157,1);
$secondary-purple: rgba(103, 85, 157, 0.5);
$primary-yellow: rgba( 219, 163, 55, 100%);
$secondary-yellow: rgba(244, 185, 67, 0.5);
$primary-orange: rgba(234, 103, 60, 1);
$secondary-orange: rgba(234, 103, 60, 0.5);
$primary-black: rgba(18, 18, 18, 1);
$secondary-black: rgba(18, 18, 18, 0.5);
$primary-pink: rgba(237, 161, 189, 1);
$secondary-pink: rgba(237, 161, 189, 0.5);
$primary-green: rgba(69, 127, 73, 1);
$secondary-green: rgba(69, 127, 73, 0.5);
$primary-blue: rgba(58, 120, 168, 1);
$secondary-blue: rgba(58, 120, 168, 0.5);
$teal: cornflowerblue;

