// buttons
button {
    background: $primary-black;
    color: $primary-white;
    background-image: url("../images/add.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.7rem;
    text-indent: -999999px;
    font-weight: $bold-weight;
    border: 0;
    height: 3rem;
    width: 3rem;
    padding: 1.8rem;
    @include bradius(0.5rem,0.5rem,0.5rem,0.5rem);

    &:hover {
        background-color: $secondary-black;
        cursor: pointer;
    }

    @media (min-width: 600px) {
        font-size: 1.6rem;
    }
}