#modal {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accet-dark4;

    &__content {
        background: $base-light;
        padding-bottom: 2rem;
        border-radius: 0.5rem;
        margin: 7%;
        border: 1px solid $accent-color4;

        h2 {
            color: #fff;
            background: $accent-color4;
            font-weight: $medium-weight;
            border-bottom: 1px solid $accent-dark3;
            padding: 2rem 4rem;
            border-radius: 0.5rem 0.5rem 0 0;
        }
    }
}

