// Imported  fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

// Typography
html {
    font-size: 62.5%;
}

body {
    font: 1.4rem/2.5rem $secondary-font;
    background: $primary-background;
    color: $primary-black;
}

h1 {
    font-size: 2.4rem;
    font-family: $primary-font;
    font-weight: $heavy-weight;

    @media (min-width: 600px) {
        font-size: 3rem;
    }

    @media (min-width: 1200px) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2rem;
    font-family: $primary-font;
    font-weight: $heavy-weight;

    @media (min-width: 600px) {
        font-size: 2.4rem;
    } 

    @media (min-width: 1200px) {
        font-size: 2.8rem;
    }
}

h3 {
    font-size: 1.6rem;
    font-family: $primary-font;
    font-weight: $bold-weight;
    clear: both;

    @media (min-width: 600px) {
        font-size: 2rem;
    }

    @media (min-width: 1200px) {
        font-size: 2.4rem;
    }
}

p {
    font-size: 1.6rem;
    font-family: $secondary-font;
    font-weight: $regular-weight;
    margin: 1.5rem 0;

    @media (min-width: 600px) {
        font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
        font-size: 2rem;
    }
}